<!DOCTYPE html>
<html lang="en" ng-app="turtleFacts">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index,follow" />
    <meta name="description" content="Web Developer, Cyber Security Analyst Quiz. Take a quiz and learn more about JavaScript, PHP, CMD, Cyber Security, Bootstrap and Github.">
    <meta name="geo.placename" content="London" />
    <meta name="geo.region" content="GB" />
    <title>Web Developer & Cyber Security Analyst Quiz</title>
    <!-- Bootstrap css and my own css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container-fluid">
        <div class="container">
        <div class="page-header"><br>
            <h1 class="text-center">Web Developer & Cyber Security Analyst Quiz</h1>
            <h3 class="text-center text-muted">
                Please read some facts below ! Before you decide to take on the<br>
                <strong>Web Developer & Cyber Security Analyst Quiz</strong>
            </h3>
        </div>
    </div>
		<!-- Hook on the controller for this view and specify when to show it using ng-hide -->
        <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive">
            <!-- top search bar with start quiz button using bootstrap -->
<div class="container">
<form class="mx-2 my-auto d-inline w-100">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." ng-model="list.search" >
        <span class="input-group-append">
            <button class="btn btn-outline-secondary" ng-click="list.activateQuiz()" type="button">Start Quiz</button>
        </span>
    </div>
</form>
</div>
        <!-- Old Form 
            <form class="form-inline md-form mr-auto mb-4">
                <input
                    type="text"
                    placeholder="Search..."
                    class="form-control"
                    ng-model="list.search">
                <button class="btn btn-warning my-4"
                    ng-click="list.activateQuiz()">
                    <strong>Start Quiz</strong>
                </button>
            </form>
             -->
            <!-- row to contain the list of turtles -->
            <div class="row">
                <!-- ng-repeat allows areas of markup to be repeated for a set number of times using model data -->
		        <!-- in this case it is a property on the view model called data which is being filtered using the search -->
		        <!-- property on the model -->
                <div class="col col-md-6" ng-repeat="turtle in list.data | filter:list.search">
                	<!-- using a bootstrap modal-body to style -->
                    <div class="modal-body">
                        <div class="row bg-light">
                        <div class="col-lg-6">
                            	<!-- ng-src instead of src to allow correct functionality with angular -->
                                <img ng-src="{{turtle.image_url}}"
                                    class="img-fluid mx-auto well-image">
                        </div>
                            <div class="col col-md-6">
                            	<!-- ng-src instead of src to allow correct functionality with angular -->
                                <h4>{{turtle.type}}</h4>
                                <!-- more angular data binding -->
                                    <p><strong>Keywords: </strong>{{turtle.locations}}</p>
                                    <p><strong>Pros & Cons: </strong>{{turtle.size}}</p>
                                    <p><strong>Founded By: </strong>{{turtle.lifespan}}</p>
                                    <p><strong>Used In: </strong>{{turtle.prey}}</p>
                                <!-- ng-click is an angular directive to allow click events within angular -->
                        		<!-- data-toggle and data-target are bootstrap attributes to trigger the popup modal -->
                                <button class="btn btn-info btn-sm"
                                    data-toggle="modal"
                                    data-target="#turtle-info"
                                    ng-click="list.changeActiveTurtle(turtle)">LEARN MORE</button><br>
                            </div>
                        </div><!-- row -->
                    </div><!-- modal-body -->
                </div><!-- col-xs-6 -->
            </div>

			<!-- the markup for the modal -->
            <div class="modal" id="turtle-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        	<!-- more usage of angular data binding -->
                            <h2>{{list.activeTurtle.type}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                	<!-- ng-src used again instead of src -->
                                    <img ng-src="{{list.activeTurtle.image_url}}" class="rounded img-fluid well-image">
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-md-6">
                                	<!-- angular data binding -->
                                     <p><strong>Keywords: </strong>{{list.activeTurtle.locations}}</p>
                                     <p><strong>Pros & Cons: </strong>{{list.activeTurtle.size}}</p>
                                     <p><strong>Founded By: </strong>{{list.activeTurtle.lifespan}}</p>
                                     <p><strong>Used In: </strong>{{list.activeTurtle.prey}}</p>
                                </div>
                                <div class="card top-buffer">
                                	<!-- angular data binding and data-dismiss for bootstrap -->
                                    <p class="text-muted">{{list.activeTurtle.description}}</p>
                                    <button class="btn btn-danger float-right"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- List Controller -->

        <!-- Attach the quizCtrl to the view and ng-show when the quizActive flag is set -->
        <div class="container"><br><hr>
        <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-8">
                    <h2>Progress:</h2>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                        <!-- ng-repeat to loop throuh all questions and display the button markup for each -->
		                <!-- ng-class conditionally displaying bootstrap classes when a question has been answered or not -->
		                <!-- ng-click to call method setActiveQuestion to move to selected question -->
		                <!-- the $index argument is an angular variable that contains the index of the current ng-repeat iteration -->
                        <button type="button" class="btn btn-danger"
                            ng-repeat="question in quiz.dataService.quizQuestions"
                            ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null}"
                            ng-click="quiz.setActiveQuestion($index)">
	                        <!-- display glyphicons -->
	                        <!-- ng-class to style glypicons -->
                        </button>
                        <br />
                    </div>
                </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Unanswered</p>
                        </div>
                    </div>
                </div>
            </div><!-- progress area -->
            <div class="row">
                <div class="container"><br><hr>
                <div class="alert alert-danger"
                    ng-show="quiz.error">
                    Error! You have not answered all of the questions!
                    <button class="close" ng-click="quiz.error = false">&times</button>
                </div>
                <h3>Question:</h3>
                <div class="well well-sm" ng-hide="quiz.finalise">
                    <div class="row">
                        <div class="col">
                            <!-- angular {{}} notation for expressions to be evaluated -->
		                    <!-- adds 1 to activeQuestion as it is zero index. Then displays the question -->
		                    <!-- will be in the form of "3. this is the third question" -->
		                    <!-- where the 3. is the incremented activeQuestion -->
                            <h4>{{quiz.activeQuestion+1 + ". " + quiz.dataService.quizQuestions[quiz.activeQuestion].text}}</h4>
                            <!-- ng-if will only render the below markup when true. Unlike ng-show or ng-hide which -->
		                    <!-- simply doesnt show the markup, but it is still rendered in the source. -->
		                    <!-- ng-if will not even render the markup -->
		                    <!-- this is done in the below two sections to aviod a url being displayed as a question -->
		                    <!-- or text being entered as an image url and causing issues -->
                            <div class="row"
                                ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'text'">
                                <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <h4 class="answer"
                                        ng-class="{'bg-info': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}"
                                        ng-click="quiz.selectAnswer($index)">
                                        {{answer.answer}}
                                    </h4>
                                </div>
                            </div>
		                    <!-- notice the ng-if being used again -->
		                    <!-- only the below section or the above section will display, never both -->
		                    <!-- this will depend on if the current question is set to image or text -->
                            <div class="row"
                                ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'image'">
                                <!-- more bootstrap and another ng-repeat, this time looping through the possible answers -->
                                <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <div class="image-answer"
                                        ng-class="{'image-selected': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}"
                                        ng-click="quiz.selectAnswer($index)">
                                        <img ng-src="{{answer.answer}}">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- ng-click will call the questionAnswered method on the controller -->
                    <button class="btn btn-warning" ng-click="quiz.questionAnswered()">Continue</button>
                </div>

				<!-- this section is the prompt to be show when the user finishes the quiz to ensure they want to continue -->
		        <!-- it only shows when the finalise flag is true -->
		        <!-- clicking yes will call the finaliseAnswers method which will send the user to the results page -->
		        <!-- clicking no will remove the finalise flag and this put the user back into the quiz interface -->
                <div class="well well-sm" ng-show="quiz.finalise">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Are you sure you want to submit your answers?</h3>
                            <button class="btn btn-success" ng-click="quiz.finaliseAnswers()">Yes</button>
                            <button class="btn btn-danger" ng-click="quiz.finalise = false">No</button>
                        </div>
                    </div>
                </div>


            </div><!-- question row -->
            </div>
        </div><!-- quiz controller -->
</div>
		<!-- letting angular know which controller to use for this view and when to show the view using ng-show -->
        <div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive">
            <div class="container">
                <div class="row">

                <div class="col-12 col-sm-6 col-md-8">
                    <h2>Progress:</h2>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <!-- ng-repeat to loop throuh all questions and display the button markup for each -->
                            <!-- ng-class conditionally displaying bootstrap classes when a question has been answered or not -->
                            <!-- ng-click to call method setActiveQuestion to move to selected question -->
                            <!-- the $index argument is an angular variable that contains the index of the current ng-repeat iteration -->
                            <button class="btn" ng-repeat="question in results.dataService.quizQuestions" ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}"
                            ng-click="results.setActiveQuestion($index)">
                            <!-- display glyphicons -->
                            <!-- ng-class is utilsed again to style the glyphicons conditionally -->
                            <span class="glyphicon" ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct}"></span>
                             </button>
                            <br />
                        </div>
                        </div>
                    </div>
                <div class="col-6 col-md-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Unanswered</p>
                        </div>
                    </div>
                </div>
           </div><!-- row -->
     <br><hr>
			<!-- display the score and percentage to the user -->
           <div class="row">
               <div class="col-xs-12 top-buffer">
               		<!-- the score is displayed using simple angular expressions -->
                    <h2>You Scored {{results.quizMetrics.numCorrect}} / {{results.dataService.quizQuestions.length}}</h2>
                    <!-- the percentage is calculated using a method which is then filtered using the number filter -->
            		<!-- which ensures only 2 decimal places will be shown -->
                    <h2><strong>{{results.calculatePerc() | number:2}}%</strong></h2>
               </div>
           </div>
           <div class="row">
               <h3>Questions:</h3>
               <div class="container">
                   <div class="row">
                       <div class="col-xs-12">
		                    <!-- the below may look strange. -->
		                    <!-- the angular expression will add 1 to the active question, because it is 0 index -->
		                    <!-- it then displays it with a . after it followed by the question. -->
		                    <!-- something like this "3. This is the third question:" -->
                           <h4>{{results.activeQuestion+1 +". "+results.dataService.quizQuestions[results.activeQuestion].text}}</h4>
                           <div class="row"
                               ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'text'">
                               <!-- ng-repeat being utilised again -->
                               <div class="col-sm-6" ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">
                                   <h6 class="answer"
                                       ng-class="results.getAnswerClass($index)">
                                       {{answer.answer}}
                                       <!-- more usage of the ng-show directive to selectively show the elements on condition -->
                                       <p class="pull-right"
                                            ng-show="$index !== results.quizMetrics.correctAnswers[results.activeQuestion] && $index === results.dataService.quizQuestions[results.activeQuestion].selected">Your Answer</p>
                                       <p class="pull-right"
                                            ng-show="$index === results.quizMetrics.correctAnswers[results.activeQuestion]">Correct Answer</p>
                                   </h6>
                               </div>
                           </div><!-- row -->

							<!-- more ng-if -->
                           <div class="row"
                               ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'image'">
                               <!-- more ng-repeat -->
                               <div class="col-sm-6" ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">
                               		<!-- ng-class and ng-src -->
                                   <div class="image-answer"
                                       ng-class="results.getAnswerClass($index)">
                                       <img ng-src="{{answer.answer}}">
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div><!-- well -->
            <br><hr><br>
				<!-- ng-click calling the reset method on the controller -->
               <button class="btn btn-block btn-primary btn-lg" ng-click="results.reset()">Go Back To Facts</button>
           </div><br>
        </div>



    </div>

    <!-- third party js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <!-- Our application scripts -->
    <script src="js/app.js"></script>
    <script src="js/controllers/list.js"></script>
    <script src="js/controllers/quiz.js"></script>
    <script src="js/controllers/results.js"></script>
    <script src="js/factories/quizMetrics.js"></script>
    <script src="js/factories/dataservice.js"></script>

</body>
</html>
